@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quattrocento:wght@400;700&display=swap');

.navbar{
    font-family: 'Montserrat' 
}


.errorPage{
    @apply absolute top-0 left-0 flex flex-col w-screen h-screen text-white;
    .back404Img{
        @apply absolute z-0 w-full h-full object-cover
    }
    div{
        @apply  text-center;
        font-family: 'Montserrat';
        h1{
            @apply text-xl lg:text-3xl mt-3;
            letter-spacing: 2px
        }
        h2{
            @apply text-lg lg:text-2xl;
            letter-spacing: 2px
        }
        a{
            @apply uppercase text-base font-semibold bg-green-600 py-1 px-5 mt-3 rounded-lg;
            letter-spacing: 2px;
        }
    }
}